<h1><% if @user == current_user %>
  Your tracks
<% else %>
  Look at all of <%= @user.name %>'s tracks
<% end %>
<div class='container'>
<% @mixes.each do |mix| %>
<!-- view the track -->
  <% if mix.name != '<file removed>' %>
    <% if mix.name %>
      <%= link_to mix.name, mix_path(mix) %>
    <% else %>
      <%= link_to mix.audio_file, mix_path(mix)%>
    <% end %>

    <% if mix.audio_file_url %>
      <a href="<%= mix.audio_file.url %>">listen</a>
      <%= link_to 'download', download_mix_path(mix)%>
    <% end %>
  <% end %>
<% end %>
</div>