<h1><% if @user == current_user %>
  You (<%= @user.name %>)
<% else %>
  <%= @user.name %>
<% end %>
<p>
  member since <div><%= @user.created_at %></div>
</p>
<p>
  <%= mail_to 'email', @user.email if user_signed_in? %>
<div class='container'>
<% @mixes.each do |mix| %>
<!-- view the track -->
  <% if mix.name != '<file removed>' %>
    <% if mix.name %>
      <%= link_to mix.name, mix_path(mix) %>
    <% else %>
      <%= link_to mix.audio_file, mix_path(mix)%>
    <% end %>

    <% if mix.audio_file_url %>
      <%= audio_tag(mix.audio_file, controls: true, class: 'button') %>
      <%= link_to 'download', download_mix_path(mix)%>
    <% end %>

    <% if @user == current_user %>
      <%= link_to 'edit', edit_mix_path(mix) %>
      <%= link_to 'delete', mix_path(mix), method: :delete %>
    <% end %>
    &nbsp
  <% end %>
<% end %>
</div>