<div style='text-align:center'>
  <h1>Upload new</h1>
  <br>
  <br>
  <div>
    <!-- changed from @track to @user -->
    <%= form_for [@user, @mix], html: { multipart: true } do |f| %>
      <%= f.text_field :name, placeholder: 'name', onclick: "this.placeholder = ''", onblur: "this.placeholder = 'name'" %>
      <br>
      <%= f.text_field :tag_list, placeholder: 'tags (separated by commas)', onclick: "this.placeholder = ''", onblur: "this.placeholder = 'tags (separated by commas)'" %>
      <br>
      <%= f.file_field :audio_file %>
      <br>
  <div class="instructions" style="float: none; margin: 0 auto;">please adhere to copyright laws. file formats supported by media player are: wav, mp3, m4a, ogg, and webm. that's not to say that other file types can't be used, but they will not be available for preview. 500MB limit.</div>
      <br>
      <br>
      <%= f.submit 'Upload', class: "btn btn-default" %>
    <% end %>
  </div>
  </h1>
</div>
<br>
<div style='text-align:right'>
<h1>Most popular tags:<br>
<% ActsAsTaggableOn::Tag.most_used.each do |tag| %>
  <%= link_to tag.name, mixes_all_path(search: tag.name) %>
<% end %>
</div>
