<div style='text-align:center'>
  <h1>Upload new</h1>
  <br>
  <br>
  <div>
    <!-- changed from @track to @user -->
    <%= form_for [@user, @mix], html: { multipart: true } do |f| %>
      <%= f.text_field :name, placeholder: 'name' %>
      <br>
      <%= f.text_field :tag_list, placeholder: 'tags (separated by commas)' %>
      <br>
      <%= f.file_field :audio_file %>
      <br>
  please adhere to copyright laws. if possible, upload stems separatey in zip file.
      <br>
      <br>
      <%= f.submit 'Upload', class: "btn btn-default" %>
    <% end %>
  </div>
  </h1>
</div>
<br>
<div style='text-align:right'>
<h1>Most popular tags:<br>
<% ActsAsTaggableOn::Tag.most_used.each do |tag| %>
  <%= link_to tag.name, mixes_all_path(search: tag.name) %>
<% end %>
</div>
