<div class='left-form'>
  <h1>Upload mix for 
  <% if @original_mix.name != '' %>
    <%= @original_mix.name %>
  <% else %> <!-- if the track exists but it's not named (name is an empty string) -->
    <%= 'Track' + @original_mix.id.to_s %>
  <% end %></h1>
  <br>
  <div>
    <%= form_for [@original_mix, @mix], html: { multipart: true } do |f| %>
      <%= f.text_field :name, placeholder: 'name', onclick: "this.placeholder = ''", onblur: "this.placeholder = 'name'" %>
      <%= f.text_field :tag_list, placeholder: 'tags (separated by commas)', onclick: "this.placeholder = ''", onblur: "this.placeholder = 'tags (separated by commas)'"%>
      <p>
      <%= f.file_field :audio_file %>
      </p>
      <br>
      <div class="instructions">please adhere to copyright laws. file formats supported by media player are: wav, mp3, m4a, ogg, and webm. that's not to say that other file types can't be used, but they will not be available for preview. 500MB limit.</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= f.submit 'Upload', class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div style='text-align:left'>
<h1>Most popular tags:<br>
<% ActsAsTaggableOn::Tag.most_used.each do |tag| %>
  <%= link_to tag.name, mixes_all_path(search: tag.name) %>
<% end %>
</div>
