<h1>Contact</h1>
<br>
<%= form_for @contact do |f| %>
  <% if !user_signed_in? %>
    <%= f.text_field :name, placeholder: "name" %></br>
    <%= f.email_field :email, placeholder: "email" %></br>
  <% end %>
  <%= f.text_field :subject, placeholder: "subject" %></br>
  <%= f.text_area :body, placeholder: "message", :rows => '6', :cols => '26', required: true %></br>
  <%= f.submit "Send", class: 'btn' %>
<% end %>
