<!DOCTYPE html>
<html>
<head>
  <!-- count unread notifications -->
  <% if user_signed_in? %>
    <% count  = 0 %>
    <% current_user.notifications.each do |notification| %>
      <% if notification.state == 0 %>
        <% count+= 1 %>
      <% end %>
    <% end %>
  <% end %>
  <title>Noises <%= '(' + (count).to_s + ')'  if count != 0 %></title>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
  <link rel="stylesheet" href="reset.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <!-- favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Timmana|Roboto+Mono|Rajdhani|VT323|Fira+Mono' rel='stylesheet' type='text/css'>

</head>
<body>
  <!-- flash notices -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <!-- user navigation bar -->
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>

    <!-- display menu link on device -->
  <div class="navbar-test pull-right">
    <nav class='nav navbar-nav'>
      <a href="#" id="menu-icon"></a>
        <ul>
          <% if user_signed_in? %>
            <%= link_to new_user_mix_path(current_user.id) do %><li class='navbar-link'><b>Upload</b></li><% end %>
          <% end %>
          <%= link_to mixes_all_path do %><li class='navbar-link'>Noises!</li><% end %>
          <%= link_to users_path do %><li class='navbar-link'>Users</li><% end %>
          <%= link_to new_contact_path do %><li class='navbar-link'>Contact Jill</li><% end %>
          <% if user_signed_in? %>
            <%= link_to user_notifications_path(current_user) do %><li class='navbar-link'>Notifications <%= '(' + (count).to_s + ')'  if count != 0 %></li><% end %>
            <span class="user-info">You are logged in as <strong><%= link_to current_user.name, user_mixes_path(current_user), class: 'navbar-link' %></strong>.</span>
            <%= link_to edit_user_registration_path do %><li class='navbar-link'>Edit profile</li><% end %>
            <%= link_to destroy_user_session_path, method: :delete do %><li class='navbar-link'>logout</li><% end %>
          <% else %>
            <%= link_to new_user_registration_path do %><li class='navbar-link'>Signup</li><% end %>
            <%= link_to new_user_session_path do %><li class='navbar-link'>Login</li><% end %>
          <% end %>
        </ul>
      <br>
    </nav>
  </div>
  <div class='container'>
  <%= yield %>
  </div>
</body>
</html>
